{% extends "base.html" %}
{% load static %}
{% block title %}Job Recommended System{% endblock title %}

{% block content %}
<section class="page-title-box">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h3 class="mb-4">Jobs</h3>
                    <div class="page-next">
                        <nav class="d-inline-block" aria-label="breadcrumb text-center">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active"><a href="javascript:void(0)">Jobs</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section my-5">
    <div class="container">
        <div class="row">
            {% for job in jobs %}
            <div class="col-lg-4">
                {% include 'card.html' with job=job %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}